.scrollable-container {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  transition: width 0.5s ease;
}

.scrollable-content {
  display: inline-block;
}

.scrollable-container::-webkit-scrollbar {
  height: 12px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: blue; 
  border-radius: 6px;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: #ddd;
}

.col-lg-3 {
  display: inline-block;
  vertical-align: top;
}

.child {
  height: 100vh;
  overflow-y: scroll; 
}

.child::-webkit-scrollbar {
  width: 10px;
}

.child::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 6px;
}

.child::-webkit-scrollbar-track {
  background-color: #ddd;
}

.scrollable-cards {
  white-space: normal; 
}

.card {
  width: 100%; 
  display: block; 
  margin-bottom: 10px;
}

.parent {
  background-color: #d1d0ce;
  margin: 0 10px;
}
.custom-circle-image {
  border-radius: 50%;
  width: 60px; 
  height: 60px; 
}
.bag {
  background-color: #cccdc6;
  border-radius: 15%;
  padding: 5px 10px;
  height: 40px;
}
.bag-icon {
  padding-top: 6px;
}
.zero{
  margin-top: -7px;
  margin-left: 10px;
}
.layer-icon{
  margin-top: 5px;
  margin-right: 10px;
}